---
import Layout from '../../../layouts/Layout.astro';
import Database from 'better-sqlite3';
import { basicAuth } from '../../../middleware/auth';

const isAuthenticated = await basicAuth(Astro.request);
if (!isAuthenticated) {
  return new Response('Unauthorized', {
    status: 401,
    headers: {
      'WWW-Authenticate': 'Basic realm="Restricted Area"',
    },
  });
}

const db = new Database('./data/database.db');  // Ensure this path points to your actual database
const stmt = db.prepare('SELECT * FROM submissions'); // Adjust query to your table and requirements
const data = stmt.all(); // Get all rows from the query

db.close();
---

<Layout title="ARPAN'24">
	<main>
		<center>
		<h2><span class="text-gradient">Request Database</span></h2>
		</center>
        <table class="instructions">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
                {
                    data.map((row) => (
                    <tr key={row.id}>
                        <td>{row.id}</td>
                        <td>{row.name}</td>
                        <td>{row.phone}</td>
                        <td>{row.message}</td>
                    </tr>
                    ))
                }
            </tbody>
        </table>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
    th, td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;
    }
	h2 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
</style>
